body
  font 14px 'Helvetica Neue', Helvetica, Arial, sans-serif
  background #f5f5f5
  min-width 230px
  max-width 550px
  margin 0 auto
  padding 0

.header
  margin-bottom 30px

.card
  min-height 152px
  display flex
  align-items center

  .card-content
    flex-grow 1

  .material-icons,
  .activator
    cursor pointer

.alert
  color #fff
  margin-bottom 30px
  padding 10px
  text-align center

.form

  .date
    input
      cursor pointer
